*, *::before, *::after {
    /* font-weight: normal; */
    font-family: Barbie; src: url('/web-projects/JavascriptCalculator/barbie.ttf');
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    align-content: center;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    /* border: solid 2px; */
    border-radius: 45px;
    max-width: 400px;
    margin-bottom: 10px;
    margin-left: 50px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background: linear-gradient(to left, #e0218a, #e0ebe5);
    box-shadow: -1px -2px 5px #e0218a, 2px 1px 20px #e0ebe5;

}
.output{
    grid-column: 1 / -1;
    background-color:rgb(0, 0, 0, .75);
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
    /* color: aqua; */

}
.output .previous-operand{
    color: #e2dcdc;
    font-size: 30px;
    margin-right: 20px;

}
.output .current-operand{
    color: #f5f5dc;
    font: size 50px;
    margin-right: 20px;
}


.calculator-grid > button {
    cursor: pointer;
    font-size: 34px;
    margin: 5px;
    border-radius: 50px;
    border: none; 
    outline: none;
    background-color:  rgb(246, 172, 210, .35);
    box-shadow: -1px -2px 3px #e0218a, 2px 1px 3px #e0ebe5;

}
.calculator-grid > button:hover {
    background-color:rgb(246, 172, 210, .55);

}

.calculator-grid > button:active{
    background-color:rgb(246, 172, 210);
}
.span-two {
    grid-column: span 2;
    border-radius: 50px;
}
footer {
    display:flex;
    flex-direction: column;
    font-family: Barbie; src: url('/web-projects/JavascriptCalculator/barbie.ttf');
    font-size: normal;

}
h1{
    padding: 50px;
    background: linear-gradient(to right, #e0218a, #e0ebe5);
}